<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>测试用例</title>
    <script data-main="js/appsettings" src="/require.js"></script>
    <link href="js/lib/bootstrap/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <yep-button-group buttons="buttons">
        </yep-button-group>
        <yep-button class="btn-danger" message="测试" @click="alert(text)"></yep-button>
    </div>
    <div class="ui ui-entry">1</div>
    <div class="ui ui-entry">2</div>
    <div class="ui ui-series">
        <div class="ui ui-entry">1</div>
        <div class="ui ui-entry">2</div>
    </div>
    <div class="ui  ui-series ui-compose ui-horizontal">
        <div class="ui ui-entry">1</div>
        <div class="ui ui-entry">2</div>
        <div class="clearfix"></div>
    </div>
    <div class="ui component ui-series ui-compose ui-horizontal">
        <div class="ui ui-entry ui-convex ui-concave">1</div>
        <div class="ui ui-entry">2</div>
        <div class="clearfix"></div>
    </div>
    <div class="ui component ui-series ui-compose ui-horizontal">
        <div class="ui ui-entry ui-concave">1</div>
        <div class="ui ui-entry">2</div>
        <div class="clearfix"></div>
    </div>
    <div class="ui bookcase ui-series ui-compose ui-horizontal">
        <div class="ui ui-entry ui-convex">1</div>
        <div class="ui ui-entry">2</div>
        <div class="clearfix"></div>
    </div>
    <div class="ui bookcase ui-series ui-compose ui-vertical">
        <div class="ui ui-entry ui-convex ui-concave">1</div>
        <div class="ui ui-entry">2</div>
        <div class="clearfix"></div>
    </div>
    <div class="ui component ui-series ui-compose ui-vertical">
        <div class="ui ui-entry ui-concave">1</div>
        <div class="ui ui-entry">2</div>
        <div class="clearfix"></div>
    </div>
    <div class="ui component ui-series ui-compose ui-vertical">
        <div class="ui ui-entry ui-convex">1</div>
        <div class="ui ui-entry">2</div>
        <div class="clearfix"></div>
    </div>
    <input class="ui ui-entry ui-touch-response ui-click-response" />
    <button class="ui ui-entry ui-touch-response ui-click-response">提交</button>
    <div id="testId">
        <div class="testClass" v-for="item in data">{{ item.xx }}</div>
        <div data-attr="testAttr" v-if="">
            <div v-else-if=""></div>
        </div>
        <yep-dialog class=""></yep-dialog>
        <div>
            <div data-attr="testAttr">
                <input type="search" value="" checked="checked" />
            </div>
        </div>
    </div>
    <button id="test-group" class="btn-group"></button>
</body>
</html>