.v2-form.form-inline .form-group {
    margin-right: 5px;
}

.v2-form.form-inline .form-group {
    margin-bottom: 5px;
}

    .v2-form.form-inline .form-group .dropup,
    .v2-form.form-inline .form-group .dropdown {
        display: inline-block;
    }

.v2-form .form-group > .btn {
    margin-left: 5px;
    margin-right: 5px;
}
