.v2-table {
    position: relative;
    margin: 0 auto;
}

    .v2-table .table-vertical,
    .v2-table .table-horizontal {
        position: relative;
        height: 100%;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .v2-table .table-horizontal {
        overflow: auto;
        overflow-y: hidden;
    }

    .v2-table .table-vertical {
        overflow: auto;
        overflow-x: visible;
    }

    .v2-table .table-core {
        overflow: visible;
    }

    .v2-table .table {
        margin-bottom: 0;
    }

        .v2-table .table .radio > label,
        .v2-table .table .checkbox > label {
            cursor: pointer;
        }

    .v2-table.table-bordered {
        border-radius: 4px;
    }

        .v2-table.table-bordered .table-bordered {
            border-left-width: 0;
            border-right-width: 0;
        }

            .v2-table.table-bordered .table-bordered th,
            .v2-table.table-bordered .table-bordered td {
                border-left-width: 0;
                border-right-width: 0;
            }

                .v2-table.table-bordered .table-bordered th + th,
                .v2-table.table-bordered .table-bordered td + td {
                    border-left-width: 1px;
                }

    .v2-table .table tbody td .td-nowrap,
    .v2-table .table thead th .th-nowrap {
        margin: 0 auto;
        line-height: 24px;
        vertical-align: middle;
        overflow: hidden;
        word-break: keep-all;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .v2-table .table tbody td.radio,
    .v2-table .table thead th .radio,
    .v2-table .table tbody td.checkbox,
    .v2-table .table thead th .checkbox {
        margin: 0 auto;
    }

    .v2-table .table tbody td.radio,
    .v2-table .table tbody td.checkbox {
        display: table-cell;
    }

        .v2-table .table tbody td.radio label,
        .v2-table .table thead th .radio label,
        .v2-table .table tbody td.checkbox label,
        .v2-table .table thead th .checkbox label {
            padding-left: 13px;
            vertical-align: middle;
        }

        .v2-table .table tbody td.radio input[type="radio"],
        .v2-table .table thead th .radio input[type="radio"],
        .v2-table .table tbody td.checkbox input[type="checkbox"],
        .v2-table .table thead th .checkbox input[type="checkbox"] {
            margin-left: -13px;
        }

    .v2-table .table-pagination {
        padding-left: 10px;
        padding-right: 10px;
    }

        .v2-table .table-pagination .pagination,
        .v2-table .table-pagination .pagination-detail {
            margin-top: 10px;
            margin-bottom: 10px;
        }

            .v2-table .table-pagination .pagination-detail .pagination-info var,
            .v2-table .table-pagination .pagination-detail .pagination-info code {
                padding-left: 2px;
                padding-right: 2px;
                margin-left: 5px;
                margin-right: 5px;
            }

            .v2-table .table-pagination .pagination-detail .pagination-list {
                display: inline-block;
            }

.table-screen {
    display: none;
}

.v2-table.table-fixed {
    overflow: hidden;
    border-top-width: 0;
}

    .v2-table.table-fixed .table-horizontal {
        overflow: hidden;
    }

    .v2-table.table-fixed .table-vertical {
        overflow-x: auto;
        overflow-y: visible;
    }

    .v2-table.table-fixed .table-screen,
    .v2-table.table-fixed .table-fixed-head,
    .v2-table.table-fixed .table-fixed-column {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1024;
        display: block;
        overflow: hidden;
    }

    .v2-table.table-fixed .table-screen {
        bottom: 0;
        right: 0;
        visibility: hidden;
    }

    .v2-table.table-fixed .table-fixed-head .table,
    .v2-table.table-fixed .table-fixed-column .table {
        background-color: #fff;
    }

    .v2-table.table-fixed .table-fixed-head {
        -moz-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .3);
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .3);
    }

    .v2-table.table-fixed .table-fixed-column.shadow {
        -moz-box-shadow: 5px 0px 2px 0px rgba(0,0,0,.072);
        -webkit-box-shadow: 5px 0px 2px 0px rgba(0,0,0,.072);
        box-shadow: 5px 0px 2px 0px rgba(0,0,0,.072);
    }

.table.table-fixed .table-fixed-head.table-fixed-column .table > thead > th {
    border-bottom-color: transparent;
}



.table-fixed-group,
.table-cell {
    display: table-cell;
}

.table-hover > tbody > tr.hover {
    background-color: #f5f5f5;
}

    .table-hover > tbody > tr.hover > td.active,
    .table-hover > tbody > tr.hover > th.active,
    .table-hover > tbody > tr.active.hover > td,
    .table-hover > tbody > tr.hover > .active,
    .table-hover > tbody > tr.active.hover > th {
        background-color: #e8e8e8;
    }

    .table-hover > tbody > tr.hover > td.success,
    .table-hover > tbody > tr.hover > th.success,
    .table-hover > tbody > tr.success.hover > td,
    .table-hover > tbody > tr.hover > .success,
    .table-hover > tbody > tr.success.hover > th {
        background-color: #d0e9c6;
    }

    .table-hover > tbody > tr.hover > td.info,
    .table-hover > tbody > tr.hover > th.info,
    .table-hover > tbody > tr.info.hover > td,
    .table-hover > tbody > tr.hover > .info,
    .table-hover > tbody > tr.info.hover > th {
        background-color: #c4e3f3;
    }

    .table-hover > tbody > tr.hover > td.warning,
    .table-hover > tbody > tr.hover > th.warning,
    .table-hover > tbody > tr.warning.hover > td,
    .table-hover > tbody > tr.hover > .warning,
    .table-hover > tbody > tr.warning.hover > th {
        background-color: #faf2cc;
    }

    .table-hover > tbody > tr.hover > td.danger,
    .table-hover > tbody > tr.hover > th.danger,
    .table-hover > tbody > tr.danger.hover > td,
    .table-hover > tbody > tr.hover > .danger,
    .table-hover > tbody > tr.danger.hover > th {
        background-color: #ebcccc;
    }
