@-webkit-keyframes page-wait {
    0% {
        -webkit-transform: scale(.65,.65) translate3d(0,0,0);
        transform: scale(.65,.65) translate3d(0,0,0);
        border-color: #FF6600;
    }

    25% {
        -webkit-transform: scale(.85,.85) translate3d(-160%,0,0);
        transform: scale(.85,.85) translate3d(-160%,0,0);
        border-color: #FF9900;
    }

    50% {
        -webkit-transform: scale(1,1) translate3d(0,0,0);
        transform: scale(1,1) translate3d(0,0,0);
        border-color: #FF4400;
    }

    75% {
        -webkit-transform: scale(.85,.85) translate3d(160%,0,0);
        transform: scale(.85,.85) translate3d(160%,0,0);
        border-color: #FF9900;
    }

    100% {
        -webkit-transform: scale(.65,.65) translate3d(0,0,0);
        transform: scale(.65,.65) translate3d(0,0,0);
        border-color: #FF6600;
    }
}

@-moz-keyframes page-wait {
    0% {
        -moz-transform: scale(.65,.65) translate3d(0,0,0);
        transform: scale(.65,.65) translate3d(0,0,0);
        border-color: #FF6600;
    }

    25% {
        -moz-transform: scale(.85,.85) translate3d(-160%,0,0);
        transform: scale(.85,.85) translate3d(-160%,0,0);
        border-color: #FF9900;
    }

    50% {
        -moz-transform: scale(1,1) translate3d(0,0,0);
        transform: scale(1,1) translate3d(0,0,0);
        border-color: #FF4400;
    }

    75% {
        -moz-transform: scale(.85,.85) translate3d(160%,0,0);
        transform: scale(.85,.85) translate3d(160%,0,0);
        border-color: #FF9900;
    }

    100% {
        -moz-transform: scale(.65,.65) translate3d(0,0,0);
        transform: scale(.65,.65) translate3d(0,0,0);
        border-color: #FF6600;
    }
}

@keyframes page-wait {
    0% {
        transform: scale(.65,.65) translate3d(0,0,0);
        border-color: #FF6600;
    }

    25% {
        transform: scale(.85,.85) translate3d(-160%,0,0);
        border-color: #FF9900;
    }

    50% {
        transform: scale(1,1) translate3d(0,0,0);
        border-color: #FF4400;
    }

    75% {
        transform: scale(.85,.85) translate3d(160%,0,0);
        border-color: #FF9900;
    }

    100% {
        transform: scale(.65,.65) translate3d(0,0,0);
        border-color: #FF6600;
    }
}

.v2-wait,
.v2-wait + .backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 950708;
    visibility: hidden;
}

    .v2-wait + .backdrop {
        z-index: 921210;
        background-color: rgb(0,0,0);
    }

    .v2-wait.fade + backdrop {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity .15s linear, visibility .15s linear;
        -o-transition: opacity .15s linear, visibility .15s linear;
        transition: opacity .15s linear, visibility .15s linear;
    }

    .v2-wait.in {
        visibility: visible;
    }

        .v2-wait.in + .backdrop {
            visibility: visible;
            opacity: .25;
            filter: alpha(opacity=25);
        }

    .v2-wait div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        margin: auto;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent;
        border-radius: 50%;
        -webkit-animation: page-wait 1.8s linear 0s infinite;
        -moz-animation: page-wait 1.8s linear 0s infinite;
        -o-animation: page-wait 1.8s linear 0s infinite;
        animation: page-wait 1.8s linear 0s infinite;
    }

        .v2-wait div + div {
            animation-delay: .6s;
        }

            .v2-wait div + div + div {
                animation-delay: 1.2s;
            }

.v2-wait-sm div {
    border-width: 6px;
}

.v2-wait-lg div {
    border-width: 15px;
}

.v2-wait.full-screen,
.v2-wait.full-screen + .backdrop {
    position: fixed;
}
