html, body {
    margin: 0;
}

.lyt {
    position: relative;
    overflow: hidden;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}

    .lyt button {
        outline: none;
    }

    .lyt ul, .lyt li {
        list-style: none;
    }

    .lyt .btn:focus, .lyt .btn:active:focus, .lyt .btn.active:focus,
    .lyt .btn.focus, .lyt .btn:active.focus, .lyt .btn.active.focus {
        outline: none;
        outline-offset: unset;
    }

.lyt-header a,
.lyt-header p,
.lyt-header span,
.lyt-header button,
.lyt-navbar a,
.lyt-navbar p,
.lyt-navbar span,
.lyt-navbar button,
.lyt-tabbar a,
.lyt-tabbar p,
.lyt-tabbar span,
.lyt-tabbar button {
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.lyt-header {
    position: relative;
    color: #666;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.lyt-brand,
.lyt-collapse {
    height: inherit;
}

    .lyt-brand,
    .lyt-collapse > li > a {
        line-height: 50px;
    }

.lyt-brand {
    float: left;
    padding: 0 10px;
    font-size: 18px;
    max-width: 250px;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .lyt-brand > img {
        max-width: 216px;
        max-height: 100%;
    }

.lyt-navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline-width: 0;
}

    .lyt-navbar-toggle .icon-bar {
        display: block;
        width: 20px;
        height: 2px;
        border-radius: 1px;
        background-color: rgb(60,60,60);
    }

        .lyt-navbar-toggle .icon-bar + .icon-bar {
            margin-top: 4px;
        }

.lyt-collapse {
    float: right;
    margin-bottom: 0;
}

    .lyt-collapse > li {
        float: left;
        padding: 10px;
    }

        .lyt-collapse > li + li {
            padding-top: 0;
            padding-bottom: 0;
        }

        .lyt-collapse > li.lyt-keyboard > a {
            position: relative;
            padding: 0 10px;
            color: #666;
            float: left;
            display: block;
            text-decoration: none;
        }

            .lyt-collapse > li.lyt-keyboard > a + a {
                margin-left: 10px;
            }

            .lyt-collapse > li.lyt-keyboard > a:hover,
            .lyt-collapse > li.lyt-keyboard > a:focus,
            .lyt-collapse > li.lyt-keyboard > a.active {
                background-color: #eee;
            }

            .lyt-collapse > li.lyt-keyboard > a:after {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0;
                z-index: 10;
                content: "";
                display: none;
                margin: auto;
                vertical-align: middle;
                border-width: 7px;
                border-style: solid;
                border-color: transparent;
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
                -webkit-transition: opacity .1s;
                transition: opacity .1s;
            }

            .lyt-collapse > li.lyt-keyboard > a:hover:after,
            .lyt-collapse > li.lyt-keyboard > a:focus:after,
            .lyt-collapse > li.lyt-keyboard > a.active:after {
                display: block;
                border-bottom-color: #666;
            }

    .lyt-collapse .btn-primary {
        font-size: 12px;
        position: relative;
        border-color: #0e90d2;
        background-color: #0e90d2;
    }

    .lyt-collapse .btn .badge {
        position: absolute;
        top: auto;
        bottom: 60%;
        color: #fff;
        font-size: 12px;
        background-color: #dd514c;
    }

    .lyt-collapse .lyt-search {
        width: 300px;
        margin: 10px 0;
    }

        .lyt-collapse .lyt-search .btn,
        .lyt-collapse .lyt-search .form-control {
            font-size: 12px;
            height: auto;
            min-height: 31px;
        }

        .lyt-collapse .lyt-search .btn-default:hover,
        .lyt-collapse .lyt-search .btn-default:focus,
        .lyt-collapse .lyt-search .btn-default.focus {
            border-color: #ccc;
        }

        .lyt-collapse .lyt-search .glyphicons {
            color: #7dbc2e;
        }

        .lyt-collapse .lyt-search .lyt-search-layer {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            padding: 15px;
            z-index: 888;
        }

            .lyt-collapse .lyt-search .lyt-search-layer a {
                text-decoration: none;
            }

            .lyt-collapse .lyt-search .lyt-search-layer > ul {
                padding-left: 0;
            }

                .lyt-collapse .lyt-search .lyt-search-layer > ul > li {
                    margin-top: 5px;
                    line-height: 25px;
                }

        .lyt-collapse .lyt-user .lyt-user-main,
        .lyt-collapse .lyt-search .lyt-search-layer {
            background-color: #fff;
            background-clip: padding-box;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
            box-shadow: 0 1px 3px rgba(0,0,0,.2);
            -webkit-transition: all .15s,visibility 0s .15s;
            transition: all .15s,visibility 0s .15s;
        }

    .lyt-collapse .lyt-user {
        position: relative;
        width: 60px;
        cursor: pointer;
        padding: 5px 10px;
    }

        .lyt-collapse .lyt-user > a {
            color: #666;
            padding: 0;
            text-decoration: none;
        }

        .lyt-collapse .lyt-user .lyt-user-avatar {
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            background-color: antiquewhite;
        }

            .lyt-collapse .lyt-user .lyt-user-avatar > img {
                height: inherit;
                width: inherit;
                border-radius: inherit;
            }

        .lyt-collapse .lyt-user .lyt-user-main {
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 2018;
            margin: 0;
            opacity: 0;
            width: 270px;
            border: none;
            visibility: hidden;
        }

        .lyt-collapse .lyt-user:hover {
            background-color: #eee;
        }

            .lyt-collapse .lyt-user:hover .lyt-user-main {
                visibility: visible;
                opacity: 1;
            }

    .lyt-collapse .lyt-user-main .lyt-user-info {
        padding-top: 16px;
        border-bottom: 1px solid #eaeaea;
    }

        .lyt-collapse .lyt-user-main .lyt-user-info > p {
            margin-bottom: 0;
            padding-top: 8px;
            padding-bottom: 8px;
        }

    .lyt-collapse .lyt-user-main .lyt-user-avatar {
        margin: 0 auto;
    }

    .lyt-collapse .lyt-user-menu {
        margin: 8px 0;
        padding: 8px 15px;
        overflow: hidden;
    }

        .lyt-collapse .lyt-user-menu > li {
            float: left;
            color: #333;
            width: 33.333333%;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            -webkit-transition: background .15s;
            transition: background .15s;
            border-radius: 2px;
        }

            .lyt-collapse .lyt-user-menu > li:hover {
                background-color: rgb(245, 245, 245);
            }

            .lyt-collapse .lyt-user-menu > li a {
                text-decoration: none;
            }

            .lyt-collapse .lyt-user-menu > li i {
                display: block;
                font-size: 20px;
            }

            .lyt-collapse .lyt-user-menu > li span {
                font-size: 12px;
            }

    .lyt-collapse .lyt-user-main .lyt-user-logout {
        height: 50px;
        line-height: 50px;
        display: block;
        font-size: 20px;
        -webkit-transition: all .15s;
        transition: all .15s;
        text-align: center;
        color: #333;
        background-color: #f5f5f6;
        border-top: 1px solid #eaeaea;
        text-decoration: none;
    }

.lyt-navbar,
.lyt-container {
    position: fixed;
    top: 50px;
    bottom: 0;
    margin: auto;
    -moz-transition: all .15s;
    -o-transition: all .15s;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.lyt-navbar {
    left: 0;
    z-index: 1314;
    padding: 10px;
    width: 210px;
    background-color: #2a3542;
}

.lyt-navbar-min {
    width: 40px;
    padding-left: 0;
    padding-right: 0;
}

.lyt-container {
    right: 0;
    left: 210px;
    z-index: 10;
}

.lyt-navbar-min + .lyt-container {
    left: 40px;
}


.lyt-navbar {
    color: #aeb2b7;
    font-size: 12px;
}

    .lyt-navbar a,
    .lyt-navbar p,
    .lyt-navbar li,
    .lyt-navbar span,
    .lyt-navbar .lyt-navbar-header {
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .lyt-navbar .lyt-navbar-header {
        font-size: 16px;
        margin-top: 10px;
        padding-bottom: 5px;
        border-bottom: 2px solid;
    }

        .lyt-navbar .lyt-navbar-header .lyt-navbar-calendar {
            padding-left: 10px;
        }

    .lyt-navbar .lyt-navbar-menu {
        overflow: hidden;
        padding-left: 0;
        margin-bottom: 0;
    }

    .lyt-navbar .lyt-navbar-thumbnail,
    .lyt-collapse .lyt-navbar-thumbnail {
        max-height: 0;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        -o-transition: max-height .5s ease,background-color .1s ease .4s;
        -ms-transition: max-height .5s ease,background-color .1s ease .4s;
        -moz-transition: max-height .5s ease,background-color .1s ease .4s;
        -webkit-transition: max-height .5s ease,background-color .1s ease .4s;
    }

    .lyt-navbar .lyt-navbar-thumbnail {
        background-color: #35404d;
    }

    .lyt-navbar .lyt-navbar-menu > li,
    .lyt-collapse .lyt-navbar-menu > li {
        position: relative;
        overflow: hidden;
        margin-top: 20px;
        border-radius: 3px;
    }

        .lyt-navbar .lyt-navbar-menu > li p,
        .lyt-collapse .lyt-navbar-menu > li p {
            height: 32px;
            line-height: 32px;
            color: inherit;
            cursor: pointer;
            background-color: inherit;
            padding-left: 10px;
            font-weight: 400;
            margin-bottom: 0;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            -o-transition: background-color .1s ease .4s;
            -ms-transition: background-color .1s ease .4s;
            -moz-transition: background-color .1s ease .4s;
            -webkit-transition: background-color .1s ease .4s;
        }

        .lyt-navbar .lyt-navbar-menu > li i,
        .lyt-collapse .lyt-navbar-menu > li i {
            padding: 0 4px;
            font-size: 14px;
        }

        .lyt-navbar .lyt-navbar-menu > li em,
        .lyt-collapse .lyt-navbar-menu > li em {
            float: right;
            display: block;
            width: 40px;
            height: 32px;
            cursor: pointer;
            background-image: url('../img/navbar-icon.png');
            background-position: 16px 12px;
            background-repeat: no-repeat;
        }

        .lyt-navbar .lyt-navbar-menu > li a,
        .lyt-collapse .lyt-navbar-menu > li a {
            color: inherit;
            display: block;
            text-decoration: none;
        }

            .lyt-navbar .lyt-navbar-menu > li a:hover,
            .lyt-navbar .lyt-navbar-menu > li a.active,
            .lyt-collapse .lyt-navbar-menu > li a:hover,
            .lyt-collapse .lyt-navbar-menu > li a.active {
                color: #f8675e;
            }

        .lyt-navbar .lyt-navbar-menu > li ul,
        .lyt-collapse .lyt-navbar-menu > li ul {
            line-height: 24px;
            color: #999;
            margin: 0px;
            padding-left: 32px;
            padding-bottom: 10px;
        }

        .lyt-navbar .lyt-navbar-menu > li:hover,
        .lyt-navbar .lyt-navbar-menu > li.active {
            background-color: #35404d;
        }

            .lyt-navbar .lyt-navbar-menu > li.active em,
            .lyt-collapse .lyt-navbar-menu > li.active em {
                background-position: 16px -57px;
            }

            .lyt-navbar .lyt-navbar-menu > li.active i,
            .lyt-collapse .lyt-navbar-menu > li.active i {
                color: #ff6c60;
            }

.lyt-navbar-min .lyt-navbar-header .lyt-navbar-calendar {
    display: none;
}

.lyt-navbar-min .lyt-navbar-menu > li em,
.lyt-navbar-min .lyt-navbar-menu > li span {
    display: none;
}

.lyt-navbar-min .lyt-navbar-menu {
    overflow: visible;
}

    .lyt-navbar-min .lyt-navbar-menu > li {
        overflow: visible;
    }

.lyt-navbar-min .lyt-navbar-thumbnail {
    position: absolute;
    left: 100%;
    bottom: 0;
    z-index: 2020;
    max-width: 210px;
    margin-left: 10px;
    visibility: hidden;
    padding: 10px 16px 0px;
    border-radius: inherit;
}

    .lyt-navbar-min .lyt-navbar-thumbnail:before {
        position: absolute;
        right: 100%;
        bottom: 8px;
        height: 0;
        width: 0;
        border-style: solid;
        border-color: transparent;
        border-right-color: #2a3542;
        content: "";
    }

    .lyt-navbar-min .lyt-navbar-thumbnail:before {
        border-width: 8px;
    }

.lyt-navbar.lyt-navbar-min .lyt-navbar-thumbnail ul {
    padding-left: 0;
}

.lyt-navbar .lyt-navbar-menu > li.active .lyt-navbar-thumbnail,
.lyt-collapse .lyt-navbar-menu > li.active .lyt-navbar-thumbnail {
    max-height: 500px;
}

.lyt-navbar-min .lyt-navbar-menu > li.active .lyt-navbar-thumbnail {
    max-height: 0;
}

.lyt-navbar-min .lyt-navbar-menu > li:hover .lyt-navbar-thumbnail {
    max-height: 500px;
    visibility: visible;
}

.lyt-container .lyt-tabbar,
.lyt-container > .container {
    position: absolute;
    left: 0;
    right: 0;
    width: auto !important;
}

.lyt-container .lyt-tabbar {
    top: 0;
    height: 38px;
    z-index: 2018;
    font-size: 12px;
    background-color: #35404d;
}

    .lyt-container .lyt-tabbar .lyt-tabbar-region {
        position: absolute;
        left: 0;
        right: 80px;
        height: 38px;
        padding: 0 8px;
        overflow: hidden;
        box-shadow: inset -2px 0px 0px 3px rgba(255,255,255,.072);
        -webkit-box-shadow: inset -2px 0px 0px 3px rgba(255,255,255,.072);
        -moz-box-shadow: inset -2px 0px 0px 3px rgba(255,255,255,.072);
        -o-box-shadow: inset -2px 0px 0px 3px rgba(255,255,255,.072);
        z-index: 10;
    }

    .lyt-container .lyt-tabbar .lyt-tabbar-region-scroll {
        overflow: hidden;
        white-space: nowrap;
        word-break: keep-all;
    }

.lyt-container .lyt-tabbar-region ul {
    padding-left: 0;
    margin-bottom: 0;
    display: inline-block;
}


.lyt-container .lyt-tabbar-region li {
    padding: 7px;
    display: inline-block;
}

.lyt-container .lyt-tabbar-region i {
    padding: 0 2px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

    .lyt-container .lyt-tabbar-region i:hover {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

.lyt-container .lyt-tabbar a,
.lyt-container .lyt-tabbar button {
    padding: 0px 3px 0px 6px;
    line-height: 22px;
    overflow: hidden;
    font-size: 12px;
    margin: 0px;
    color: #a2abb6;
    display: inline-block;
    background-color: #415164;
    border: 1px solid #415164;
    border-radius: 2px;
    outline-style: none;
    text-decoration: none;
    -moz-transition: background-color 300ms ease-out,border-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out,border-color 300ms ease-out;
    -webkit-transition: background-color 300ms ease-out,border-color 300ms ease-out;
    transition: background-color 300ms ease-out,border-color 300ms ease-out;
}

    .lyt-container .lyt-tabbar a:hover,
    .lyt-container .lyt-tabbar a:focus,
    .lyt-container .lyt-tabbar a.active,
    .lyt-container .lyt-tabbar button:hover,
    .lyt-container .lyt-tabbar button:focus,
    .lyt-container .lyt-tabbar button.active {
        color: #fff;
        background-color: #ff6c60;
        border-color: #ff6c60;
    }

.lyt-container .lyt-tabbar .lyt-tabbar-roll {
    float: right;
    height: inherit;
    width: 80px;
    padding: 7px;
    text-align: center;
    background-color: #35404d;
}

.lyt-container .container {
    top: 38px;
    bottom: 0;
    z-index: 1314;
    padding: 0 !important;
    background-color: #fff;
}

    .lyt-container .container:before,
    .lyt-container .container:after {
        display: none;
    }

    .lyt-container .container ul,
    .lyt-container .container li,
    .lyt-container .container iframe {
        height: 100%;
        width: 100%;
        padding: 0;
    }
