.v2-tree-view {
    position: relative;
    min-height: 80px;
    min-width: 120px;
}

    .v2-tree-view,
    .v2-tree-view ul {
        list-style: none;
        padding-left: 18px;
    }

        .v2-tree-view li ul {
            display: none;
        }

        .v2-tree-view li {
            position: relative;
            padding-left: 18px;
        }

            .v2-tree-view li span {
                cursor: pointer;
            }

            .v2-tree-view li.active > span {
                color: #fff;
                background-color: #337ab7;
            }

            .v2-tree-view li.expand > ul {
                display: block;
            }

        .v2-tree-view.tree-view-indent-guide li > ul {
            border-width: 0;
            border-left-width: 1px;
            border-style: dashed;
            border-color: #808080;
            margin-left: -18px;
            margin-bottom: 8px;
        }

            .v2-tree-view.tree-view-indent-guide li > ul:after {
                width: 32px;
                margin-left: -18px;
                display: block;
                content: "";
                border-width: 0;
                margin-top: 8px;
                border-bottom-width: 1px;
                border-bottom-style: inherit;
                border-bottom-color: inherit;
            }

        .v2-tree-view em[data-sign] {
            position: absolute;
            top: 0;
            bottom: 0;
            text-align: center;
            left: -8px;
            width: 16px;
            z-index: 10;
            cursor: pointer;
            font-weight: bolder;
        }

        .v2-tree-view em[data-sign="-"] {
            display: none;
        }

        .v2-tree-view li.expand > em[data-sign="-"] {
            display: block;
        }

        .v2-tree-view li.expand > em[data-sign="+"] {
            display: none;
        }     
        .v2-tree-view .blue {
            color: blue;
        }
        .v2-tree-view .forestgreen {
            color: forestgreen;
        }
        .v2-tree-view .palevioletred {
            color: palevioletred;
        }
        .v2-tree-view .rosybrown {
            color: saddlebrown;
        }
        .v2-tree-view .dodgerblue {
            color: dodgerblue;
        }
        .v2-tree-view li + li > span {
            color: rgb(140,220,300);
        }
        .v2-tree-view .blue {
            color: blue;
        }
        .v2-tree-view .forestgreen {
            color: forestgreen;
        }
        .v2-tree-view .palevioletred {
            color: palevioletred;
        }
        .v2-tree-view .rosybrown {
            color: rosybrown;
        }
        .v2-tree-view .dodgerblue {
            color: dodgerblue;
        }
